@import "Responsive.module.scss";

.header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;

  z-index: 9;
  background-color: rgba(var(--dark), 0.85);

  display: flex;
  align-items: center;
  justify-content: center;

  // transition: all 0.s var(--ease);

  &_wrapper {
    width: 100%;
    padding: 0 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo {
      color: #fff;
      width: 144px;
      padding: 0.34em 0;
      margin-top: -0.1em;

      a {
        display: flex;
        align-items: center;
      }
    }

    .navigation {
      display: flex;
      align-items: center;
      ul {
        list-style-type: none;
        display: flex;
        margin-right: 3.4em;
        li {
          margin-left: 2.8em;
          a {
            color: #fff;
            text-decoration: none;
            display: flex;
            align-items: center;
            flex-direction: column;
            text-transform: uppercase;
            font-size: 1.15rem;
            line-height: 1;

            &::after {
              content: "";
              display: block;
              width: 0;
              height: 1.3px;
              border-radius: 3px;
              background-color: #fff;
              transition: width 0.5s var(--ease);
            }

            &:hover {
              &::after {
                width: 90%;
              }
            }
          }
        }
      }
    }
  }
}
