@import "Responsive.module.scss";

.services {
  &_discuss {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4.5em;

    width: 50%;
    margin: auto;
    h1 {
      font-size: 5rem;
      color: rgba(var(--primary));
      font-weight: 300;

      @media screen and (max-width: 768px) {
        font-size: 3rem;
      }
    }
    p {
      text-align: center;
      color: #fff;
      font-size: 1.2rem;
      margin: 0.8em 0 1.2em 0;
      padding: 0 4em;
      @media screen and (max-width: 768px) {
        font-size: 1rem;
      }
    }

    @media screen and (max-width: 768px) {
      width: 80%;
    }
  }

  @media screen and (max-width: 768px) {
    margin-top: -20%;
  }
}
