@import "Responsive.module.scss";

.section {
  width: 100%;
  // height: 100vh;
  padding: 13.5em 0;
  margin-top: -5%;

  &_article {
    flex: 1;

    height: 100%;
  }

  &_content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    h2 {
      font-size: 4.5rem;
      line-height: 0.9;
      margin: 0.1em 0;
      margin-top: 0;
      color: inherit;
    }

    span {
      margin-bottom: 1em;
      color: inherit;
    }

    p {
      line-height: 1.4;
      font-size: 1.2rem;
      color: rgba(var(--dark), 0.8);
      margin-bottom: 2em;
      color: inherit;
    }

    button {
      align-self: flex-end;
    }
  }

  &_animate {
    width: 100%;
    height: 100%;

    position: relative;

    &_circle {
      width: 410px;
      height: 410px;
      border-radius: 50%;

      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) scale(1);

      opacity: 1;

      background-image: linear-gradient(30deg, #85764d, #ffe1a0);
    }

    &_img {
      width: 84%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      img {
        width: 100%;
      }
    }
  }
}

.services {
  margin-top: -4%;
  padding: 8rem 0;
  background-image: url("https://www.venuslab.co/images/home-banner.jpg");

  background-size: cover;
  background-repeat: no-repeat;

  &_title {
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
      color: rgba(var(--primary));
      font-size: 2.8rem;
    }
  }

  &_gridContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(440px, 1fr));
    // grid-template-rows: repeat();
    grid-gap: 3em;
    margin-top: 4em;
  }

  &_item {
    // background-color: #fff;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.3em 3em;

    &_img {
      width: 46%;
      height: auto;
      img {
        width: 100%;
      }
    }
    h3 {
      color: #fff;
      font-size: 2rem;
      margin: 1.3em 0 0.8em 0;

      text-align: center;
    }
    p {
      text-align: center;
      color: #fff;
      font-size: 1.2rem;
      padding: 0 0.6em;
    }
  }

  &_discuss {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4.5em;

    width: 50%;
    margin: auto;
    h1 {
      font-size: 5rem;
      color: rgba(var(--primary));
      font-weight: 300;
    }
    p {
      text-align: center;
      color: #fff;
      font-size: 1.2rem;
      margin: 0.8em 0 1.2em 0;
      padding: 0 4em;
    }
  }
}
